.education {
    background: #f5f5f5;
    padding-bottom: 20px;
}

.education-timeline {
    list-style-type: none;
    position: relative;
    padding-top: 30px;
}

.education-timeline:before {
    content: '';
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.education-timeline li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.education-timeline li h4 {
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
    border-radius: 50px;
}

.education-timeline li h4 span {
    font-weight: bold;
    color: #ccc;
}

.education-timeline li:before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 7px solid black;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

/* .education-container .col-border {
    background: url(/src/components/images/education-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
} */

/* .education-container .col-border {
    border-right: 0.1rem solid black;
} */

.education-container {
    margin-bottom: 50px;
}

@media(max-width:1010px) {
    .education-container {
        height: auto;
        margin-top: -10px;
    }
}